<div class="wrapper">
    <div class="sidebar">
        <h2>Angular</h2>
        <ul>
            <li><a routerLink="/seller-page/home" routerLinkActive="active"><i class="bi bi-house-fill"></i> Home</a></li>
            <li><a routerLink="/seller-page/profile"><i class="bi bi-person-video3"></i> Profile</a></li>
            <li><a routerLink="/seller-page/products" routerLinkActive="active"><i class="bi bi-currency-rupee"></i> Products</a></li>
            <li><a routerLink="/seller-page/analytics" routerLinkActive="active"><i class="bi bi-clipboard-data"></i> Analytics</a></li>
            <li><a routerLink="/sign-page" (click)="logout()"><i class="bi bi-power"></i> Logout</a></li>
        </ul>


    </div>
    <div class="main_content">
        <router-outlet></router-outlet>
    </div>
</div>